<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="ru.itis.javalab"/>
    <context:property-placeholder location="db.properties"/>

    <!--moved to config.ApplicationConfig-->
<!--    <bean id="usersService" class="ru.itis.javalab.services.UserServicesImpl">-->
<!--        <constructor-arg name="usersRepository" ref="usersRepository"/>-->
<!--    </bean>-->

<!--     -->
<!--    <bean id="objectMapper" class="com.fasterxml.jackson.databind.ObjectMapper"/>-->

<!--    <bean id="usersRepository" class="ru.itis.javalab.repositories.UsersRepositoryJdbcTemplateImpl">-->
<!--        <constructor-arg name="dataSource" ref="dataSource"/>-->
<!--    </bean>-->

<!--    -->
<!--    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">-->
<!--        <constructor-arg name="configuration" ref="hikariConfig"/>-->
<!--    </bean>-->


    <!--we can connect with @Autowired see in ApplicatioCOnfig class-->
    <bean id="hikariConfig" class="com.zaxxer.hikari.HikariConfig">
        <property name="maximumPoolSize" value="${db.jdbc.hikari.max-pool-size}"/>
        <property name="password" value="${db.jdbc.password}"/>
        <property name="driverClassName" value="${db.jdbc.driver-class-name}"/>
        <property name="username" value="${db.jdbc.username}"/>
        <property name="jdbcUrl" value="${db.jdbc.url}"/>
    </bean>
</beans>